/* home */
.accent-bg {
    background: linear-gradient(to bottom, var(--lavender), var(--powder-blue), var(--seafoam), var(--lemon-100), #ffe7c0, #ffdcdc);
    z-index: 0;
    overflow: visible;
    background-attachment: fixed;
  background-size: 100vw 200%;
}

.accent-bg:before {
    content: "";
    position: fixed;
    height: 150vw;
    width: 150vw;
    z-index: -1;
    background: radial-gradient(var(--lemon) 25%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
    transform: translate(-50vw, -4vw);
}
#hero,
#contact {
    justify-content: center;
    align-items: center;
}
.bio-title {
    font-family: "Bassy", "DM Sans", "Inter", "Poppins", Inter,Roboto, Arial, Helvetica, sans-serif;
    font-size: 80px;
    line-height: 1.5;
    z-index: -1;
    display: inline-block;
    position: relative;
    top: 38px;
    left: -8px;
    overflow: visible;
    text-shadow: 3px 3px 2px var(--seafoam);
    color: var(--color-text);
    white-space: nowrap;
}

.bio-title+.subtitle {
    font-family: var(--accent-font);
    text-shadow: 3px 3px 2px var(--seafoam);
    white-space: nowrap;
}

.bio-photo {
    max-width: 250px;
    overflow:hidden
}


/* work section*/
.glass-card {
    backdrop-filter: blur(18px) saturate(120%);
    -webkit-backdrop-filter: blur(18px) saturate(120%);
    background: radial-gradient( rgba(250, 243, 255, 0.4) 40%, rgba(250, 243, 255, 0.6));
    border-radius: 12px;
    border: 1px solid rgba(215, 209, 219, 0.48);
    box-shadow: inset 0 0 100px 0px #F2EFFF87;
}

#work h2 {
    color: var(--cyan);
}


.social-links {
    gap: .5rem
}

.social-links a {
    width: 36px;
    padding: 8px;
    border-radius: var(--default-radius);
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
    transition: var(--default-animation);
}

.social-links a:hover,
.social-links a:active {
    background: var(--white);
    color: var(--color-primary);
    text-decoration: none;
}
.social-links a:focus-visible {
    outline: solid 2px var(--color-primary);
    outline-color: inherit;
    background: var(--white);
    color: var(--color-primary);
    text-decoration: none;
  }
#contact-section h2 {
    color: var(--ocean);
}

/* contact */
#contact-section {
    .card{
        padding: 2rem;
    }

    .form-label {
        text-transform: uppercase;
        
        font-weight: 600;
        font-size: 14px;
        opacity: .76;
    }
    .form-input {
        background: var(--pure-white);
        border-color: var(--lavender);
        min-height: 44px;
    }
}

#message {
    min-height: 120px;
}
#my-form-status {
    color: var(--color-text) !important;
}
// animations

.bio-photo {
    transform-origin: center;
    max-width: 0;
    box-shadow:  0px 0px 0 0px rgba(249, 255, 0, .18), 0px 0px 0 0px rgba(0, 232, 255, .18), 0px 0px 0 0px rgba(255, 0, 0, .18)
//after     box-shadow:  70px 28px 0 4px rgba(249, 255, 0, .18), -70px 28px 0 4px rgba(0, 232, 255, .18), 0px -70px 0 4px rgba(255, 0, 0, .18)

}
.hero .text-col{
    opacity: 0.0;
}
main.home section:not(.hero) > .container{
    opacity: 0.0001;
}

html, body{
    scroll-snap-type: y ;
    scroll-padding: 50px 0 0 0;

}
main.home > section{
    scroll-snap-align: center;
    min-height: 100vh;
}

main.home > section#work,
main.home > section.hero{
    scroll-snap-align:start;
}