.container {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    --gap: 1rem;
}

@media (min-width: 758px) {
    .container {
        width: calc(100% - 2rem);
        padding: 1rem;
    }
}

@media (min-width: 1024px) {
    .container {
        width: calc(100% - 3rem);
        padding: 1.5rem;
    }
}

@media (min-width: 1280px) {
    .container {
        width: calc(100% - 4rem);
        padding: 2rem;
    }
}

@media (min-width: 1600px) {
    .container {
        width: calc(100% - 4rem)
    }
}

.container .container {
    width: 100%;
    padding: 0;
}

.container.sm {
    max-width: 720px;
}

.container.md {
    max-width: 920px;
}

.container.lg {
    max-width: 1200px;
}

.container.xl {
    max-width: 1400px;
}

.gap-0 {
    gap: 0rem;
}

.gap-0>.col {
    padding: 0;
    --gap: 0;
}

.gap-1 {
    gap: var(--gap-units);
    --gap: var(--gap-units);
}

.gap-2 {
    gap: calc(var(--gap-units) * 2);
    --gap: calc(var(--gap-units) * 2);
}

.gap-3 {
    gap: calc(var(--gap-units) * 3);
    --gap: calc(var(--gap-units) * 3);
}

.gap-4 {
    gap: calc(var(--gap-units) * 4);
    --gap: calc(var(--gap-units) * 4);
}

@media (max-width: 540px) {

    .gap-2,
    .gap-3,
    .gap-4 {
        gap: var(--gap-units);
        --gap: var(--gap-units);
    }

    .xs-hide{
        display: none;
    }
}

@media (max-width: 800px) {
    .gap-2 {
        gap: var(--gap-units);
        --gap: var(--gap-units);
    }

    .gap-3,
    .gap-4 {
        gap: calc(var(--gap-units) * 2);
        --gap: calc(var(--gap-units) * 2);
    }
}

.col,
[class^=col-] {
    box-sizing: border-box;
    max-width: 100%;
    flex: 1 1 0%;
    width: 100%;
}

.col-auto {
    flex: none
}

.container.col {
    margin: 0;
    padding: 0
}


.no-wrap {
    flex-wrap: nowrap
}

.container .col.v-100 {
    align-self: stretch
}

.flex-column {
    flex-flow: column;
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-end {
    justify-content: flex-end;
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-grow {
    flex-grow: 1;
}

.align-end {
    align-items: flex-end;
}

.justify-end {
    justify-content: flex-end;
}

.align-start {
    align-items: flex-start;
}

.justify-start {
    justify-content: flex-start;
}

.col-1 {
    flex: 1 0 calc(8.3% - var(--gap));
    max-width: 8.3%;

}

.col-2 {
    flex: 1 0 calc(16.66% - var(--gap));
    max-width: 16.66%;

}

.col-3 {
    flex: 1 0 calc(25% - var(--gap));
    max-width: 25%;

}

.col-4 {
    flex: 1 0 calc(33.333% - var(--gap));
    max-width: 33.333%;

}

.col-5 {
    flex: 1 0 calc(41.66% - var(--gap));
    max-width: 41.66%;

}

.col-6 {
    flex: 1 0 calc(50% - var(--gap));
    max-width: 50%;

}

.col-7 {
    flex: 1 0 calc(58.33% - var(--gap));
    max-width: 58.33%;

}

.col-8 {
    flex: 1 0 calc(66.66% - var(--gap));
    max-width: 66.66%;

}

.col-9 {
    flex: 1 0 calc(75% - var(--gap));
    max-width: 75%;

}

.col-10 {
    flex: 1 0 calc(83.33% - var(--gap));
    max-width: 83.33%;

}

.col-11 {
    flex: 1 0 calc(91.66% - var(--gap));
    max-width: 91.66%;

}

.col-12 {
    flex: 1 0 100%;
}

.offset-1 {
    margin-left: calc(8.3% - var(--gap));
}

.offset-2 {
    margin-left: calc(16.66% - var(--gap));
}

.offset-3 {
    margin-left: calc(25% - var(--gap));
}

.offset-4 {
    margin-left: calc(33.333% - var(--gap));
}

.offset-5 {
    margin-left: calc(41.66% - var(--gap));
}

.offset-6 {
    margin-left: calc(50% - var(--gap));
}

.offset-7 {
    margin-left: calc(58.33% - var(--gap));
}

.offset-8 {
    margin-left: calc(66.66% - var(--gap));
}

.offset-9 {
    margin-left: calc(75% - var(--gap));
}

.offset-10 {
    margin-left: calc(83.33% - var(--gap));
}

.offset-11 {
    margin-left: calc(91.66% - var(--gap));
}

@media (max-width: 419px) {

    [class^=col-],
    .col {
        width: 100%;
        flex: 1 0 100%;
    }

    [class*=xxs-] {
        width: auto;
    }

    .xxs-3 {
        flex: 1 0 calc(25% - var(--gap));
        max-width: 25%;

    }

    .xxs-4 {
        flex: 1 0 calc(33.333% - var(--gap));
        max-width: 33.333%;

    }

    .xxs-6 {
        flex: 1 0 calc(50% - var(--gap));
        max-width: 50%;

    }

    .xxs-8 {
        flex: 1 0 calc(66.6% - var(--gap));
        max-width: 66.6%;

    }

    .xxs-9 {
        flex: 1 0 calc(75% - var(--gap));
        max-width: 75%;

    }
}

@media (min-width: 420px) {
    .col {
        width: auto;
    }

    .xs-1 {
        flex: 1 0 calc(8.3% - var(--gap));
        max-width: 8.3%;

    }

    .xs-2 {
        flex: 1 0 calc(16.66% - var(--gap));
        max-width: 16.66%;

    }

    .xs-3 {
        flex: 1 0 calc(25% - var(--gap));
        max-width: 25%;

    }

    .xs-4 {
        flex: 1 0 calc(33.333% - var(--gap));
        max-width: 33.333%;

    }

    .xs-5 {
        flex: 1 0 calc(41.66% - var(--gap));
        max-width: 41.66%;

    }

    .xs-6 {
        flex: 1 0 calc(50% - var(--gap));
        max-width: 50%;

    }

    .xs-7 {
        flex: 1 0 calc(58.33% - var(--gap));
        max-width: 58.33%;

    }

    .xs-8 {
        flex: 1 0 calc(66.66% - var(--gap));
        max-width: 66.66%;

    }

    .xs-9 {
        flex: 1 0 calc(75% - var(--gap));
        max-width: 75%;

    }

    .xs-10 {
        flex: 1 0 calc(83.33% - var(--gap));
        max-width: 83.33%;

    }

    .xs-11 {
        flex: 1 0 calc(91.66% - var(--gap));
        max-width: 91.66%;

    }

    .xs-12 {
        flex: 1 0 100%;
    }
}

@media (min-width: 758px) {
    .sm-1 {
        flex: 1 0 calc(8.3% - var(--gap));
        max-width: 8.3%;

    }

    .sm-2 {
        flex: 1 0 calc(16.66% - var(--gap));
        max-width: 16.66%;

    }

    .sm-3 {
        flex: 1 0 calc(25% - var(--gap));
        max-width: 25%;

    }

    .sm-4 {
        flex: 1 0 calc(33.333% - var(--gap));
        max-width: 33.333%;

    }

    .sm-5 {
        flex: 1 0 calc(41.66% - var(--gap));
        max-width: 41.66%;

    }

    .sm-6 {
        flex: 1 0 calc(50% - var(--gap));
        max-width: 50%;

    }

    .sm-7 {
        flex: 1 0 calc(58.33% - var(--gap));
        max-width: 58.33%;

    }

    .sm-8 {
        flex: 1 0 calc(66.66% - var(--gap));
        max-width: 66.66%;

    }

    .sm-9 {
        flex: 1 0 calc(75% - var(--gap));
        max-width: 75%;

    }

    .sm-10 {
        flex: 1 0 calc(83.33% - var(--gap));
        max-width: 83.33%;

    }

    .sm-11 {
        flex: 1 0 calc(91.66% - var(--gap));
        max-width: 91.66%;

    }

    .sm-12 {
        flex: 1 0 100%;
    }
}

@media (min-width: 1024px) {

    .md-1 {
        flex: 1 0 calc(8.3% - var(--gap));
        max-width: 8.3%;

    }

    .md-2 {
        flex: 1 0 calc(16.66% - var(--gap));
        max-width: 16.66%;

    }

    .md-3 {
        flex: 1 0 calc(25% - var(--gap));
        max-width: 25%;

    }

    .md-4 {
        flex: 1 0 calc(33.333% - var(--gap));
        max-width: 33.333%;

    }

    .md-5 {
        flex: 1 0 calc(41.66% - var(--gap));
        max-width: 41.66%;

    }

    .md-6 {
        flex: 1 0 calc(50% - var(--gap));
        max-width: 50%;

    }

    .md-7 {
        flex: 1 0 calc(58.33% - var(--gap));
        max-width: 58.33%;

    }

    .md-8 {
        flex: 1 0 calc(66.66% - var(--gap));
        max-width: 66.66%;

    }

    .md-9 {
        flex: 1 0 calc(75% - var(--gap));
        max-width: 75%;

    }

    .md-10 {
        flex: 1 0 calc(83.33% - var(--gap));
        max-width: 83.33%;

    }

    .md-11 {
        flex: 1 0 calc(91.66% - var(--gap));
        max-width: 91.66%;

    }

    .md-12 {
        flex: 1 0 100%;
    }
}

@media (min-width: 1280px) {

    .lg-1 {
        flex: 1 0 calc(8.3% - var(--gap));
        max-width: 8.3%;

    }

    .lg-2 {
        flex: 1 0 calc(16.66% - var(--gap));
        max-width: 16.66%;

    }

    .lg-3 {
        flex: 1 0 calc(25% - var(--gap));
        max-width: 25%;

    }

    .lg-4 {
        flex: 1 0 calc(33.333% - var(--gap));
        max-width: 33.333%;

    }

    .lg-5 {
        flex: 1 0 calc(41.66% - var(--gap));
        max-width: 41.66%;

    }

    .lg-6 {
        flex: 1 0 calc(50% - var(--gap));
        max-width: 50%;

    }

    .lg-7 {
        flex: 1 0 calc(58.33% - var(--gap));
        max-width: 58.33%;

    }

    .lg-8 {
        flex: 1 0 calc(66.66% - var(--gap));
        max-width: 66.66%;

    }

    .lg-9 {
        flex: 1 0 calc(75% - var(--gap));
        max-width: 75%;

    }

    .lg-10 {
        flex: 1 0 calc(83.33% - var(--gap));
        max-width: 83.33%;

    }

    .lg-11 {
        flex: 1 0 calc(91.66% - var(--gap));
        max-width: 91.66%;

    }

    .lg-12 {
        flex: 1 0 100%;
    }
}

@media (min-width: 1600px) {

    .xl-1 {
        flex: 1 0 calc(8.3% - var(--gap));
        max-width: 8.3%;

    }

    .xl-2 {
        flex: 1 0 calc(16.66% - var(--gap));
        max-width: 16.66%;

    }

    .xl-3 {
        flex: 1 0 calc(25% - var(--gap));
        max-width: 25%;

    }

    .xl-4 {
        flex: 1 0 calc(33.333% - var(--gap));
        max-width: 33.333%;

    }

    .xl-5 {
        flex: 1 0 calc(41.66% - var(--gap));
        max-width: 41.66%;

    }

    .xl-6 {
        flex: 1 0 calc(50% - var(--gap));
        max-width: 50%;

    }

    .xl-7 {
        flex: 1 0 calc(58.33% - var(--gap));
        max-width: 58.33%;

    }

    .xl-8 {
        flex: 1 0 calc(66.66% - var(--gap));
        max-width: 66.66%;

    }

    .xl-9 {
        flex: 1 0 calc(75% - var(--gap));
        max-width: 75%;

    }

    .xl-10 {
        flex: 1 0 calc(83.33% - var(--gap));
        max-width: 83.33%;

    }

    .xl-11 {
        flex: 1 0 calc(91.66% - var(--gap));
        max-width: 91.66%;

    }

    .xl-12 {
        flex: 1 0 100%;
    }
}