/*===============typogrpahy==============*/
h1,
.h1,
.display-heading {
    font-weight: 500;
    font-family: "Unbounded", monospace;
    /* font-size: 1.5rem; */
}

h2,
.h2 {
    font-weight: 500;
    font-family: "Spline Sans Mono", monospace;
    /* font-size: 1rem; */
}

h3,
.h3 {
    font-weight: 600;
    font-family: "Spline Sans Mono", monospace;
    /* font-size: .875rem; */
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    /* font-size: .75rem; */
    font-weight: 700;
}

.display-heading-1 {
    font-size: 48px;
}

.display-heading-2 {
    font-size: 40px;
}

.display-heading-3 {
    font-size: 36px;
}

.accent-heading {}

/*===============layout=============*/

html,
body {
    min-height: 100vh;
    font-family: var(--body-font);
    font-weight: 325;
    letter-spacing: .02em;
    font-size: 18px;
}

html,
body,
body>* {
    width: 100vw;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
}

main {
    padding-top: var(--menu-height);
}

main,
.full-height {
    min-height: calc(100vh - var(--menu-height));
}

main > section {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
figure {
    margin: 0;
    padding: 0;
}
.gallery-item .card-image .img-responsive {
    aspect-ratio: 1.5;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.gallery-item .card-body {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.gallery-item .flex-grow {
    flex-grow: 1;
}

.gallery-item .tag-list {
    display: flex;
    gap: .3rem;
    flex-flow: row wrap;
    margin-top: .5rem;
}

/*===============nav==============*/

header#main-header {
    border-bottom: solid 3px var(--color-dark);
    z-index: 10;
}

#logo-link h1 {
    font-size: 25px;
    line-height: 1;

    span.subtitle {
        font-size: 22px;
        text-transform: uppercase;
    }
}

nav .btn.btn-link {
    color: var(--font-color);
    font-weight: 500;
    position: relative;
}

nav .btn.btn-link:hover {
    box-shadow: none;
    color: var(--color-primary);
}

nav .btn.btn-link:after {
    border-bottom: dotted 4px var(--color-borders);
    position: absolute;
    content: "";
    height: 4px;
    width: 0;
    left: 50%;
    transition: all .2s cubic-bezier(0.5, 1, 0.89, 1);
    display: block;
    bottom: -2px;
}

nav .btn.btn-link:hover:after {
    width: calc(100% - 1em);
    left: .5em;
}

/*=============== elements  ==============*/
.btn {
    font-weight: 500;
    font-family: "Spline Sans Mono", monospace;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.btn.btn-secondary {
    border-radius: 2px;
    box-shadow: 2px 2px 0px 2px var(--color-primary);
    color: var(--color-primary);
    border: none;
}

.btn.btn-secondary:hover {
    box-shadow: inset 3px 3px 0px 1px rgba(0, 0, 0, .2), 2px 2px 0px 2px var(--color-secondary);
    transform: translate(2px, 2px);
}

.label {
    border-radius: 26px;
    padding: .1rem .4rem;
    transition: all .2s ease-in-out;
}

a.label:hover {
    text-decoration: none;
    box-shadow: inset 0 0 100px 0 rgba(0, 0, 0, .2);
    transform: scale(1.05);
}

/*===============utilities==============*/
.bg-white {
    background: #fff;
}

.bg-cyan {
    background: var(--cyan);
}

.bg-magenta {
    background: var(--magenta);
}

.bg-lemon {
    background: var(--lemon);
}
.bg-lemon-100 {
    background: var(--lemon-100);
}

.bg-seafoam {
    background: var(--seafoam);
}
.bg-lavender {
    background: var(--lavender);
}
.bg-lavender-100 {
    background: var(--lavender-100);
}
.bg-violet {
    background: var(--violet);
}
.text-cyan {
    color: var(--cyan);
}

.text-magenta {
    color: var(--magenta);
}

.text-lemon {
    color:var(--lemon);
}

.text-seafoam {
    color: var(--seafoam);
}
.text-lavender {
    color: var(--lavender);
}
.text-violet {
    color: var(--violet);
}
.text-navy {
    color: var(--navy);
}
.rainbow {
    background: var(--rainbow-gradient);
    border-radius: 0.2rem;
}

.rainbow-text {
    background: var(--rainbow-gradient);
    /* background-size: 100% 30px; */
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.rainbow-text-link:hover {
    background: var(--rainbow-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rainbow-block-link:hover {
    background: var(--brand-gradient);
}

.section-break {
    border-top: 4px dotted var(--gray-300);
}