:root {
  --white: #FAF9FF; 
  --black: #281B5A;
  --dark: #2B3755;
  --ocean: #677BB0;
  --violet: #7F61F8;
  --magenta: #F443AD;
  --lavender: #EAE5FF;
  --lemon: #F6FFC2;
  --seafoam: #C2FFE5;
  --cyan: #05b6dd;
  --powder-blue:#d3e2fa;
  --lavender-100: #F2EFFF;
  --lavender-050:#F8F6FF;
  --lemon-100: #FAFFD8;
  --pure-white: #fff;
  --navy : #264f8e;
  --success: #52DEA3;
  --error: #FF5B5B;
  --muted: #6772ad;
  --purple: rgba(91, 11, 179, 1);
  --blue:rgb(0, 131, 232);
  --green: rgb(12, 178, 142);
  --yellow: rgba(236, 226, 6, 1) ;
  --orange: rgb(255, 140, 57) ;
  --pink: rgba(255, 0, 156, 1) ;
  --rainbow-gradient:
      linear-gradient(292deg,
        rgba(91, 11, 179, 1) 0%,
        rgba(33, 132, 207, 1) 22%,
        rgba(0, 181, 218, 1) 33%,
        rgba(210, 233, 27, 1) 60%,
        rgba(236, 226, 6, 1) 64%,
        rgba(232, 206, 10, 1) 68%,
        rgba(255, 0, 156, 1) 96%);
  --brand-gradient: linear-gradient(292deg,
        rgba(19, 206, 200, 1) 0%,
        rgba(35, 113, 179, 1) 36%,
        rgba(22, 73, 196, 1) 54%,
        rgba(255, 0, 156, 1) 96%);
  --breakpoint-xs: 420px;
  --breakpoint-sm: 758px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1600px;
  --animation-rate: cubic-bezier(0.23, 1, 0.32, 1);
  --default-animation: all 300ms var(--animation-rate);
  --menu-height: 68px;
  --adjusted-vh: calc(100vh - var(--menu-height));
  --default-radius: 18px;
  --heading-font: "DM Sans", "Inter", "Poppins",  Inter,Roboto,  Arial, Helvetica, sans-serif;
  --body-font: "DM Sans", "Inter", "Poppins",  Inter,Roboto,  Arial, Helvetica, sans-serif;
  --accent-font: "Spline Sans Mono", monospace;
  --gap-units: 1rem;
  --gap: var(--gap-units);
  --btn-in-animation:all 200ms cubic-bezier(0.600, 0.040, 0.980, 0.335);
  --btn-out-animation:  all 200ms cubic-bezier(0.190, 1.000, 0.220, 1.000)
}

@mixin rainbow-border {
  content: "";
  background: var(--rainbow-gradient);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: -1;
  border-radius: 2px;
  opacity: 0.7;
}
