/* home */

.home {
    background: linear-gradient(to bottom, var(--lavender), var(--powder-blue), var(--seafoam), var(--lemon-100), #ffe7c0, #ffdcdc);
    z-index: 0;
    overflow: visible;
}

.home:before {
    content: "";
    position: fixed;
    height: 150vw;
    width: 150vw;
    z-index: -1;
    background: radial-gradient(var(--lemon) 25%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
    transform: translate(-50vw, -4vw);
}

.bio-title {
    font-family: "Bassy";
    font-size: 80px;
    line-height: 1.5;
    z-index: -1;
    display: inline-block;
    /* background: linear-gradient(to right, var(--cyan) 0%, var(--magenta) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    position: relative;
    top: 38px;
    left: -8px;
    overflow: visible;
}

.bio-title+.subtitle {
    font-family: var(--accent-font);
}

.bio-photo {
    max-width: 250px;
    box-shadow:  70px 28px 0 4px #f9ff0061, -70px 28px 0 4px #00e8ff47, 0px -70px 0 4px #ff000045
}

.social-links {
    gap: .5rem
}

.social-links a {
    width: 36px;
    padding: 8px;
    border-radius: 20px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
    transition: var(--default-animation);
}

.social-links a:hover,
.social-links a:active {
    background: var(--white);
    color: var(--color-primary);
    text-decoration: none;
}



/* about */
#about-career img {
    max-height: 400px;
}

#about-person h2,
.contact h2 {
    color: var(--magenta);
}

#about-career h2 {
    color: var(--violet);
}

/* work */
.home #work {
    background: var(--lavender-050);
}

#work h2 {
    color: var(--cyan);
}


/* contact */

#message {
    min-height: 120px;
}

.form-input {
    border-color: var(--lavender-050);
    min-height: 44px;
}

.form-label {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    opacity: .76;
}
/* tags page */
#tags .archive-list {
    gap: .5rem;
    --gap: .5rem;
 }