:root {
  --white: #FAF9FF;
  --black: #281B5A;
  --dark: #2B3755;
  --ocean: #677BB0;
  --violet: #7F61F8;
  --magenta: #F443AD;
  --lavender: #EAE5FF;
  --lemon: #F6FFC2;
  --seafoam: #C2FFE5;
  --cyan: #51E0FF;
  --lavender-100: #F2EFFF;
  --lemon-100: #FAFFD8;
  --pure-white: #fff;
  --navy : #264f8e;
  --success: #52DEA3;
  --error: #FF5B5B;
  --gray-300: var(--lavender);
  --rainbow-gradient:
      linear-gradient(292deg,
        rgba(91, 11, 179, 1) 0%,
        rgba(33, 132, 207, 1) 22%,
        rgba(0, 181, 218, 1) 33%,
        rgba(210, 233, 27, 1) 60%,
        rgba(236, 226, 6, 1) 64%,
        rgba(232, 206, 10, 1) 68%,
        rgba(255, 0, 156, 1) 96%);
  --brand-gradient: linear-gradient(292deg,
        rgba(19, 206, 200, 1) 0%,
        rgba(35, 113, 179, 1) 36%,
        rgba(22, 73, 196, 1) 54%,
        rgba(255, 0, 156, 1) 96%);
  --breakpoint-xs: 420px;
  --breakpoint-sm: 758px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1600px;
  --animation-rate: cubic-bezier(0.23, 1, 0.32, 1);
  --default-animation: all 300ms var(--animation-rate);
  --menu-height: 68px;
  --adjusted-vh: calc(100vh - var(--menu-height));
  --headings-font: "Roboto Flex", sans-serif;
  --body-font: "Roboto Flex", Roboto, Inter, Arial, Helvetica, sans-serif;
  --display1-weight: 300;
  --display2-weight: 300;
  --display3-weight: 700;
  --display4-weight: 700;
  --gap-units: 1rem;
  --gap: var(--gap-units);
}

@mixin rainbow-border {
  content: "";
  background: var(--rainbow-gradient);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: -1;
  border-radius: 2px;
  opacity: 0.7;
}