/* shared */
.social-links{
    gap: .5rem
}
.social-links a {
    width: 36px;
    padding: 8px;
    border-radius: 20px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
.social-links a:hover {
    text-decoration: none;
}
.bio-photo {
    max-width: 250px;
}
.card {
    border: var(--lavender) solid .1em;
    border-radius: 5px;
    overflow: hidden;
  }
.card h3 {
font-family:var(--body-font);
font-weight: 450;
letter-spacing: 0;
color: var(--dark);
}
/* home */

.home {
    background: linear-gradient(290deg,var(--seafoam), var(--lavender));
    background-attachment: fixed;
  }
#about-career img {
    max-height: 400px;
  }