.container {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    gap:1rem;
    --gap:1rem;
}
@media (min-width: 758px){
    .container{ 
        width: calc(100% - 2rem);
        padding: 1rem;
    }
}
@media (min-width: 1024px){
    .container{ 
        width: calc(100% - 3rem);
        padding: 1.5rem;
    }
}
@media (min-width: 1280px){
    .container{ 
        width: calc(100% - 4rem);
        padding: 2rem;
    }
}
@media (min-width: 1600px){
    .container{ 
        width: calc(100% - 4rem)
    }
}
.container .container {
    width: 100%;
    padding: 0;
}
.container.sm {
    max-width: 720px;
}
.container.md {
    max-width: 920px;
}
.container.lg {
    max-width: 1200px;
}
.container.xl {
    max-width: 1400px;
}
.gap-0 {
    gap: 0rem;
}

.gap-0>.col {
    padding: 0;
    --gap:0;
}

.gap-1 {
    gap: var(--gap-units);
    --gap: var(--gap-units);
}

.gap-2 {
    gap: calc(var(--gap-units) * 2);
    --gap: calc(var(--gap-units) * 2);
}

.gap-3 {
    gap: calc(var(--gap-units) * 3);
    --gap: calc(var(--gap-units) * 3);
}
.gap-4 {
    gap: calc(var(--gap-units) * 4);
    --gap: calc(var(--gap-units) * 4);
}
@media (max-width: 540px){
    .gap-2, .gap-3, .gap-4 {
        gap: var(--gap-units);
        --gap: var(--gap-units);  
    }
}
@media (max-width: 800px){
    .gap-2 {
        gap: var(--gap-units);
        --gap: var(--gap-units);  
    }
    .gap-3, .gap-4 {
        gap: calc(var(--gap-units) * 2);
        --gap: calc(var(--gap-units) * 2);
    }
}
.col,
[class^=col-] {
    box-sizing: border-box;
    max-width: 100%;
    flex: 1 1 0%;
    width: 100%;
}

.col-auto {
    flex: none
}

.container.col {
    margin: 0;
    padding: 0
}


.no-wrap {
    flex-wrap: nowrap
}

.container .col.v-100 {
    align-self: stretch
}

.flex-column {
    flex-flow: column;
    display: flex;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.flex-end {
    justify-content: flex-end;
    align-items: flex-end;
}
.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-center {
    align-items: center;
    justify-content: center;
}
.flex-grow {
    flex-grow: 1;
  }
.align-end {
    align-items: flex-end;
}

.justify-end {
    justify-content: flex-end;
}

.align-start {
    align-items: flex-start;
}

.justify-start {
    justify-content: flex-start;
}
.col-1{
    flex: 1 0 calc(12.5% - var(--gap));
    max-width: calc(12.5% - 20px)
}
.col-2{
    flex: 1 0 calc(16.66% - var(--gap));
    max-width: calc(16.66% - 20px)
}
.col-3{
    flex: 1 0 calc(25% - var(--gap));
    max-width: calc(25% - 20px)
}
.col-4{
    flex: 1 0 calc(33.333% - var(--gap));
    max-width: calc(33.333% - 20px)
}
.col-5{
    flex: 1 0 calc(41.66% - var(--gap));
    max-width: calc(41.66% - 20px)
}
.col-6{
    flex: 1 0 calc(50% - var(--gap));
    max-width: calc(50% - 20px)
}
.col-7{
    flex: 1 0 calc(58.33% - var(--gap));
    max-width: calc(58.33% - 20px)
}
.col-8{
    flex: 1 0 calc(66.66% - var(--gap));
    max-width: calc(66.66% - 20px)
}
.col-9{
    flex: 1 0 calc(75% - var(--gap));
     max-width: calc(75% - 20px)
}
.col-10{
    flex: 1 0 calc(83.33% - var(--gap));
        max-width: calc(83.33% - 20px)
}
.col-11{
    flex: 1 0 calc(91.66% - var(--gap));
    max-width: calc(91.66% - 20px)
}
.col-12{
    flex: 1 0 100%;
}

.offset-1{
    margin-left: calc(12.5% - var(--gap));
}
.offset-2{
    margin-left: calc(16.66% - var(--gap));
}
.offset-3{
    margin-left: calc(25% - var(--gap));
}
.offset-4{
    margin-left: calc(33.333% - var(--gap));
}
.offset-5{
    margin-left: calc(41.66% - var(--gap));
}
.offset-6{
    margin-left: calc(50% - var(--gap));
}
.offset-7{
    margin-left: calc(58.33% - var(--gap));
}
.offset-8{
    margin-left: calc(66.66% - var(--gap));
}
.offset-9{
    margin-left: calc(75% - var(--gap));
}
.offset-10{
    margin-left: calc(83.33% - var(--gap));
}
.offset-11{
    margin-left: calc(91.66% - var(--gap));
}

@media (max-width: 419px) {
    [class^=col-], .col{
        width:100%;
        flex: 1 0 100%;
    }
    [class*=xxs-]{
        width: auto;
    }
    .xxs-3{
        flex: 1 0 calc(25% - var(--gap));
        max-width: calc(25% - 20px)
    }
    .xxs-4{
        flex: 1 0 calc(33.333% - var(--gap));
        max-width: calc(33.333% - 20px)
    }
    .xxs-6{
        flex: 1 0 calc(50% - var(--gap));
        max-width: calc(50% - 20px)
    }
    .xxs-8{
        flex: 1 0 calc(66.6% - var(--gap));
        max-width: calc(66.6% - 20px)
    }
    .xxs-9{
        flex: 1 0 calc(75% - var(--gap));
        max-width: calc(75% - 20px)
    }
}

@media (min-width: 420px) {
    .col{
        width: auto;
    }
    .xs-1{
        flex: 1 0 calc(12.5% - var(--gap));
        max-width: calc(12.5% - 20px)
    }
    .xs-2{
        flex: 1 0 calc(16.66% - var(--gap));
        max-width: calc(16.66% - 20px)
    }
    .xs-3{
        flex: 1 0 calc(25% - var(--gap));
        max-width: calc(25% - 20px)
    }
    .xs-4{
        flex: 1 0 calc(33.333% - var(--gap));
        max-width: calc(33.333% - 20px)
    }
    .xs-5{
        flex: 1 0 calc(41.66% - var(--gap));
        max-width: calc(41.66% - 20px)
    }
    .xs-6{
        flex: 1 0 calc(50% - var(--gap));
        max-width: calc(50% - 20px)
    }
    .xs-7{
        flex: 1 0 calc(58.33% - var(--gap));
        max-width: calc(58.33% - 20px)
    }
    .xs-8{
        flex: 1 0 calc(66.66% - var(--gap));
        max-width: calc(66.66% - 20px)
    }
    .xs-9{
        flex: 1 0 calc(75% - var(--gap));
        max-width: calc(75% - 20px)
    }
    .xs-10{
        flex: 1 0 calc(83.33% - var(--gap));
        max-width: calc(83.33% - 20px)
    }
    .xs-11{
        flex: 1 0 calc(91.66% - var(--gap));
        max-width: calc(91.66% - 20px)
    }
    .xs-12{
        flex: 1 0 100%;
    }
}

@media (min-width: 758px) {
    .sm-1{
        flex: 1 0 calc(12.5% - var(--gap));
        max-width: calc(12.5% - 20px)
    }
    .sm-2{
        flex: 1 0 calc(16.66% - var(--gap));
        max-width: calc(16.66% - 20px)
    }
    .sm-3{
        flex: 1 0 calc(25% - var(--gap));
        max-width: calc(25% - 20px)
    }
    .sm-4{
        flex: 1 0 calc(33.333% - var(--gap));
        max-width: calc(33.333% - 20px)
    }
    .sm-5{
        flex: 1 0 calc(41.66% - var(--gap));
        max-width: calc(41.66% - 20px)
    }
    .sm-6{
        flex: 1 0 calc(50% - var(--gap));
        max-width: calc(50% - 20px)
    }
    .sm-7{
        flex: 1 0 calc(58.33% - var(--gap));
        max-width: calc(58.33% - 20px)
    }
    .sm-8{
        flex: 1 0 calc(66.66% - var(--gap));
        max-width: calc(66.66% - 20px)
    }
    .sm-9{
        flex: 1 0 calc(75% - var(--gap));
        max-width: calc(75% - 20px)
    }
    .sm-10{
        flex: 1 0 calc(83.33% - var(--gap));
        max-width: calc(83.33% - 20px)
    }
    .sm-11{
        flex: 1 0 calc(91.66% - var(--gap));
        max-width: calc(91.66% - 20px)
    }
    .sm-12{
        flex: 1 0 100%;
    }
}

@media (min-width: 1024px) {

    .md-1{
        flex: 1 0 calc(12.5% - var(--gap));
        max-width: calc(12.5% - 20px)
    }
    .md-2{
        flex: 1 0 calc(16.66% - var(--gap));
        max-width: calc(16.66% - 20px)
    }
    .md-3{
        flex: 1 0 calc(25% - var(--gap));
        max-width: calc(25% - 20px)
    }
    .md-4{
        flex: 1 0 calc(33.333% - var(--gap));
        max-width: calc(33.333% - 20px)
    }
    .md-5{
        flex: 1 0 calc(41.66% - var(--gap));
        max-width: calc(41.66% - 20px)
    }
    .md-6{
        flex: 1 0 calc(50% - var(--gap));
        max-width: calc(50% - 20px)
    }
    .md-7{
        flex: 1 0 calc(58.33% - var(--gap));
        max-width: calc(58.33% - 20px)
    }
    .md-8{
        flex: 1 0 calc(66.66% - var(--gap));
        max-width: calc(66.66% - 20px)
    }
    .md-9{
        flex: 1 0 calc(75% - var(--gap));
        max-width: calc(75% - 20px)
    }
    .md-10{
        flex: 1 0 calc(83.33% - var(--gap));
        max-width: calc(83.33% - 20px)
    }
    .md-11{
        flex: 1 0 calc(91.66% - var(--gap));
        max-width: calc(91.66% - 20px)
    }
    .md-12{
        flex: 1 0 100%;
    }
}

@media (min-width: 1280px) {

    .lg-1{
        flex: 1 0 calc(12.5% - var(--gap));
        max-width: calc(12.5% - 20px)
    }
    .lg-2{
        flex: 1 0 calc(16.66% - var(--gap));
        max-width: calc(16.66% - 20px)
    }
    .lg-3{
        flex: 1 0 calc(25% - var(--gap));
        max-width: calc(25% - 20px)
    }
    .lg-4{
        flex: 1 0 calc(33.333% - var(--gap));
        max-width: calc(33.333% - 20px)
    }
    .lg-5{
        flex: 1 0 calc(41.66% - var(--gap));
        max-width: calc(41.66% - 20px)
    }
    .lg-6{
        flex: 1 0 calc(50% - var(--gap));
        max-width: calc(50% - 20px)
    }
    .lg-7{
        flex: 1 0 calc(58.33% - var(--gap));
        max-width: calc(58.33% - 20px)
    }
    .lg-8{
        flex: 1 0 calc(66.66% - var(--gap));
        max-width: calc(66.66% - 20px)
    }
    .lg-9{
        flex: 1 0 calc(75% - var(--gap));
        max-width: calc(75% - 20px)
    }
    .lg-10{
        flex: 1 0 calc(83.33% - var(--gap));
        max-width: calc(83.33% - 20px)
    }
    .lg-11{
        flex: 1 0 calc(91.66% - var(--gap));
        max-width: calc(91.66% - 20px)
    }
    .lg-12{
        flex: 1 0 100%;
    }
}

@media (min-width: 1600px) {

    .xl-1{
        flex: 1 0 calc(12.5% - var(--gap));
        max-width: calc(12.5% - 20px)
    }
    .xl-2{
        flex: 1 0 calc(16.66% - var(--gap));
        max-width: calc(16.66% - 20px)
    }
    .xl-3{
        flex: 1 0 calc(25% - var(--gap));
        max-width: calc(25% - 20px)
    }
    .xl-4{
        flex: 1 0 calc(33.333% - var(--gap));
        max-width: calc(33.333% - 20px)
    }
    .xl-5{
        flex: 1 0 calc(41.66% - var(--gap));
        max-width: calc(41.66% - 20px)
    }
    .xl-6{
        flex: 1 0 calc(50% - var(--gap));
        max-width: calc(50% - 20px)
    }
    .xl-7{
        flex: 1 0 calc(58.33% - var(--gap));
        max-width: calc(58.33% - 20px)
    }
    .xl-8{
        flex: 1 0 calc(66.66% - var(--gap));
        max-width: calc(66.66% - 20px)
    }
    .xl-9{
        flex: 1 0 calc(75% - var(--gap));
        max-width: calc(75% - 20px)
    }
    .xl-10{
        flex: 1 0 calc(83.33% - var(--gap));
        max-width: calc(83.33% - 20px)
    }
    .xl-11{
        flex: 1 0 calc(91.66% - var(--gap));
        max-width: calc(91.66% - 20px)
    }
    .xl-12{
        flex: 1 0 100%;
    }
}