@use "sass:color";
@use "sass:map";

$white: #FAF9FF;
$black: #281B5A;
$dark: #2B3755;
$ocean: #677BB0;
$violet: #7F61F8;
$magenta: #F443AD;
$lavender: #EAE5FF;
$lemon: #F6FFC2;
$seafoam: #C2FFE5;
$cyan: #51E0FF;
$lavender-100: #F2EFFF;
$lemon-100: #FAFFD8;
$pure-white: #fff;
$success: #52DEA3;
$error: #FF5B5B;
$gray-300: $lavender;


$rainbow-gradient: linear-gradient( 292deg,
rgba(91, 11, 179, 1) 0%,
rgba(33, 132, 207, 1) 22%,
rgba(0, 181, 218, 1) 33%,
rgba(210, 233, 27, 1) 60%,
rgba(236, 226, 6, 1) 64%,
rgba(232, 206, 10, 1) 68%,
rgba(255, 0, 156, 1) 96%);
$brand-gradient: linear-gradient( 
    292deg,
rgba(19, 206, 200, 1) 0%,
rgba(35, 113, 179, 1) 36%,
rgba(22, 73, 196, 1) 54%,
rgba(255, 0, 156, 1) 96%);
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$font-family-sans-serif: "Montserrat",
sans-serif;
$font-weight-light: 200;
$font-weight-normal: 300;
$font-weight-bold: 700;
$font-weight-black: 900;
$font-weight-base: $font-weight-normal;
$headings-font-weight: $font-weight-bold;
$headings-font-family:"Montserrat",
sans-serif;
$display1-weight: 300 !default;
$display2-weight: 300 !default;
$display3-weight: 700 !default;
$display4-weight: 700 !default;
$animation-rate: cubic-bezier(0.23,1,0.32,1);
$default-animation: all 300ms $animation-rate;
$menu-height: 68px;
$adjusted-vh: calc(100vh - $menu-height);


@mixin rainbow-border {
    content: "";
    background: $rainbow-gradient;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: -1;
    border-radius: 2px;
    opacity: 0.7;
}

