@use "sass:color";
@use "sass:map";
@use "dnvars" as *;
:root {
    --accent: #6faca4;
    --menu-height: 74px;
    --cyan: #{$cyan};
    --seafoam: #{$seafoam};
    --magenta: #{$magenta};
    --lemon: #{$lemon};
  }


/*===============typogrpahy==============*/
h1, .h1, .display-heading {
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}
h2, .h2 {
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

h3, .h3 {
    font-weight: 500;
    font-size: .875rem;
}
h4,.h4, h5,.h5, h6,.h6 {
    font-size: .75rem;
    font-weight: 600;
}
.display-heading-1 {
    font-size:48px;
}
.display-heading-2 {
    font-size: 40px;
}
.display-heading-3 {
    font-size: 36px;
}
.accent-heading {
    font-family: "Spline Sans Mono";
    font-weight: 400;
    text-shadow: .075em .075em 0 var(--color-secondary);
    color: var(--color-primary);
}
/*===============layout=============*/
main{
    padding-top: var(--menu-height);
}
main,
.full-height {
    min-height: calc(100vh - var(--menu-height));
}
.offset-cols{
    margin-left: -.5rem;
  margin-right: -.5rem;
}
.gallery-item .card-image .img-responsive {
    aspect-ratio: 1.5;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
.gallery-item  .card-body {
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }
  
  .gallery-item .flex-grow {
    flex-grow: 1;
  }
  .gallery-item .tag-list {
    display: flex;
    gap: .3rem;
    flex-flow: row wrap;
    margin-top: .5rem;
  }
/*===============nav==============*/

header#main-header {
    border-bottom: solid 3px var(--color-dark);
    z-index: 10;
  }
  
#logo-link h1 {
    font-size: 25px;
    line-height: 1;

    span.subtitle {
        font-size: 22px;
        text-transform: uppercase;
      }
  }

  .nav .btn-link {
    color: var(--font-color);
    font-weight: 500;
} 

/*===============utilities==============*/
.bg-white {
    background:#fff;
}
.bg-cyan{
    background:var(--cyan);
}
.bg-magenta{
    background:var(--magenta);
}
.bg-lemon{
    background:var(--lemon);
}
.bg-seafoam{
    background:var(--seafoam);
}
.rainbow {
    background: $rainbow-gradient;
    border-radius: 0.2rem;
}
.rainbow-text {
    background: $rainbow-gradient;
    // background-size: 100% 30px;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.rainbow-text-link:hover {
    background: $rainbow-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rainbow-block-link:hover {
    background: $brand-gradient;
}

.section-break {
    border-top: 4px dotted $gray-300;
}

