@use "sass:color";
@use "sass:map";
@use "dnvars" as *;
:root {
    --accent: #6faca4;
    --menu-height: 74px;
    --cyan: #{$cyan};
    --seafoam: #{$seafoam};
    --magenta: #{$magenta};
    --lemon: #{$lemon};
    --lavender: #{$lavender};
    --violet: #{$violet};
  }


/*===============typogrpahy==============*/
h1, .h1, .display-heading {
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}
h2, .h2 {
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

h3, .h3 {
    font-weight: 600;
    font-size: .875rem;
}
h4,.h4, h5,.h5, h6,.h6 {
    font-size: .75rem;
    font-weight: 700;
}
.display-heading-1 {
    font-size:48px;
}
.display-heading-2 {
    font-size: 40px;
}
.display-heading-3 {
    font-size: 36px;
}
.accent-heading {
    font-family: "Spline Sans Mono";
    font-weight: 400;
    text-shadow: .075em .075em 0 var(--color-secondary);
    color: var(--color-primary);
}
/*===============layout=============*/
main{
    padding-top: var(--menu-height);
}
main,
.full-height {
    min-height: calc(100vh - var(--menu-height));
}
.offset-cols{
    margin-left: -.5rem;
  margin-right: -.5rem;
}
.gallery-item .card-image .img-responsive {
    aspect-ratio: 1.5;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
.gallery-item  .card-body {
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }
  
  .gallery-item .flex-grow {
    flex-grow: 1;
  }
  .gallery-item .tag-list {
    display: flex;
    gap: .3rem;
    flex-flow: row wrap;
    margin-top: .5rem;
  }
/*===============nav==============*/

header#main-header {
    border-bottom: solid 3px var(--color-dark);
    z-index: 10;
  }
  
#logo-link h1 {
    font-size: 25px;
    line-height: 1;

    span.subtitle {
        font-size: 22px;
        text-transform: uppercase;
      }
  }

nav .btn.btn-link {
    color: var(--font-color);
    font-weight: 500;
    position: relative;
} 
nav .btn.btn-link:hover {
    box-shadow: none;
    color: var(--color-primary);
  }
  nav .btn.btn-link:after {
   border-bottom: dotted 4px var(--color-borders);
   position: absolute;
    content:"";
    height: 4px;
    width: 0;
    left:50%;
    transition: all .2s cubic-bezier(0.5, 1, 0.89, 1);
   display: block;
   bottom: -2px;
  }
  
  nav .btn.btn-link:hover:after {
    width: calc(100% - 1em);
    left: .5em;
  }
/*=============== elements  ==============*/
.btn {
    font-weight: 500;
    font-family: "Spline Sans Mono";
    text-transform: uppercase;
    letter-spacing: .1em;
  }
  .btn.btn-secondary {
    border-radius: 2px;
    box-shadow: 2px 2px 0px 2px var(--color-primary);
    color: var(--color-primary);
    border: none;
  }
  .btn.btn-secondary:hover {
    box-shadow: inset 3px 3px 0px 1px rgba(0,0,0,.2), 2px 2px 0px 2px var(--color-secondary);
    transform: translate(2px, 2px);
  }
.label {
    border-radius: 26px;
    padding: .1rem .4rem;
    transition: all .2s ease-in-out;
  }
  a.label:hover {
    text-decoration: none;
    box-shadow: inset 0 0 100px 0 rgba(0, 0, 0,.2);
    transform: scale(1.05);
  }
/*===============utilities==============*/
.bg-white {
    background:#fff;
}
.bg-cyan{
    background:var(--cyan);
}
.bg-magenta{
    background:var(--magenta);
}
.bg-lemon{
    background:var(--lemon);
}
.bg-seafoam{
    background:var(--seafoam);
}
.rainbow {
    background: $rainbow-gradient;
    border-radius: 0.2rem;
}
.rainbow-text {
    background: $rainbow-gradient;
    // background-size: 100% 30px;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.rainbow-text-link:hover {
    background: $rainbow-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rainbow-block-link:hover {
    background: $brand-gradient;
}

.section-break {
    border-top: 4px dotted $gray-300;
}

