@use "sass:map";
@use "dnvars" as *;
//========== splash ============//
.hero {
  background: url(/assets/images/hero-graphic.png) no-repeat center/cover;
}
.hero .card {
  max-width: 540px;
}

section h2 + .subtitle {
  font-weight: 400;
}