@use "sass:color";
@use "sass:map";
@use "dnvars" as *;
@forward "../node_modules/@vianetz/spectre.css/src/_variables.scss" with (
    $primary-color: $violet!default,
    $secondary-color: $cyan!default,
    $dark-color: $dark,
    $light-color: $white,
    $success-color: $success,
    // $warning-color: map-get($colors,"yellow"),
    $error-color: $error,
    $code-color: $magenta,
    $highlight-color:$lemon,
    $body-bg: $lavender-100!default,
    $body-font-color:$dark!default,

    $size-xs: 320px !default,
    $size-sm: 420px !default,
    $size-md: 768px !default,
    $size-lg: 1080px !default,
    $size-xl: 1440px !default,
);

@use "../node_modules/@vianetz/spectre.css/src/mixins";

// Reset and dependencies
@use "../node_modules/normalize.css/normalize.css";
@use "../node_modules/@vianetz/spectre.css/src/base";

// Elements
@use "../node_modules/@vianetz/spectre.css/src/typography";
// @use "tables";
@use "../node_modules/@vianetz/spectre.css/src/buttons";
@use "../node_modules/@vianetz/spectre.css/src/forms";
@use "../node_modules/@vianetz/spectre.css/src/labels";
// @use "../node_modules/@vianetz/spectre.css/src/codes";
@use "../node_modules/@vianetz/spectre.css/src/media";

// Layout
@use "layout";
@use "../node_modules/@vianetz/spectre.css/src/hero";
@use "../node_modules/@vianetz/spectre.css/src/navbar";

// Components
// @use "accordions";
// @use "avatars";
// @use "../node_modules/@vianetz/spectre.css/src/badges";
// @use "../node_modules/@vianetz/spectre.css/src/breadcrumbs";
// @use "../node_modules/@vianetz/spectre.css/src/bars";
// @use "../node_modules/@vianetz/spectre.css/src/cards";
// @use "../node_modules/@vianetz/spectre.css/src/chips";
// @use "../node_modules/@vianetz/spectre.css/src/dropdowns";
// @use "../node_modules/@vianetz/spectre.css/src/empty";
// @use "../node_modules/@vianetz/spectre.css/src/menus";
@use "../node_modules/@vianetz/spectre.css/src/modals";
// @use "../node_modules/@vianetz/spectre.css/src/navs";
@use "../node_modules/@vianetz/spectre.css/src/pagination";
// @use "../node_modules/@vianetz/spectre.css/src/panels";
// @use "popovers";
// @use "steps";
// @use "tabs";
@use "../node_modules/@vianetz/spectre.css/src/tiles";
// @use "toasts";
// @use "tooltips";

// Utility classes
// @use "../node_modules/@vianetz/spectre.css/src/animations";
@use "../node_modules/@vianetz/spectre.css/src/utilities";
