<section id="about-work" class=" bg-cyan">
    <div class="container grid-lg">
    <div class="columns">
        <div class="col-4">
           <div class="img-wrap pr-3">
            <img src="{{about.image}}" alt="photo of {{site.author}}" class="img-responsive s-circle">
           </div>
        </div>
        <div class="col-8">
            <h2 class="heading h1 mb-1">{{about.title }}</h2>
            <p class="display-heading h3 subtitle">
                {{ about.subtitle }}
            </p>
            <p>
                {{ about.desc }}
            </p>
        </div>
    </div>
    </div>
</section>
