<section id="person-work" class="bg-magenta">
    <div class="container grid-lg ">
        <div class="columns">
            <div class="col-8 text-light">
                <h2 class="heading h1 mb-1">{{person.title }}</h2>
                <p class="display-heading h3 subtitle">
                    {{ person.subtitle }}
                </p>
                <p>
                    {{ person.desc }}
                </p>
            </div><div class="col-4">
                <{{person.gallery}}
             </div>
        </div>
    </div>
</section>

