<section class="hero">
    <div class="container align-center justify-end grid-lg d-flex">
        <div class="card bg-light">
           <div class="columns flex-center">
            <div class="column text-col">
                <h2 id="hero-title" class="accent-heading m-0 display-heading-2">{{site.title}}</h2>
                <div id="contact-title">
                    <h2 class="accent-heading m-0 display-heading-2">Contact Me </h2>
                    <p class="accent-heading m-0 display-heading-2">{{site.title}}</p>
                </div>
                {%-if  site.subtitle -%}
                <p class="subtitle h2 m-0 text-uppercase">{{  site.subtitle }}</p>
                <p class="m-0">{{hero.description}}</p>
                {%- endif -%}
                <div class="columns social-links col-gap mt-1">
                {%- for value in social -%}
                <a class="text-dark d-inline-block"
                    target="_blank"
                   href="{{ value[1] }}"
                   rel="me" aria-label="{{value[0]}}">
                    <i class="fa fa-{{value[0]}} fa-lg"  aria-hidden="true"></i>
                </a>
                {%- endfor -%}
               </div>
               </div>
                <div id="contact-section" class="column form-col">
                    {%- include  "home/contact.html" -%}
                </div>
           </div>
        </div>
    </div>
</section>

