<section id="work" class="bg-light">
    <div class="container grid-lg">
        <h2 class="heading h1 mb-1 text-center">{{work.title }}</h2>
        {%- if work.subtitle -%}
        <p class="display-heading h3 subtitle text-center">
            {{ work.subtitle }}
        </p>
        {%- endif-%}
        {%- if work.desc -%}
        <p>
            {{ work.desc }}
        </p>
        {%- endif-%}
        <div class="columns offset-cols mt-3">
            {%- if  collections.featuredWork.size > 1 -%}
            {%- assign items = collections.featuredWork | sort: "weight" -%}
            {%- else  -%}
            {%- assign items = collections.allWork | sort: "weight" -%}
            {%- endif -%}
            {%- for item in items -%}
            {%- include "archive/gallery-item.html" -%}
                {%- endfor -%}
        </div>
        <div class="text-center mt-5">
            <a href="{{site.baseURL }}/work"
                class="btn btn-lg btn-secondary d-inline-block ">Browse All</a>
        </div>
    </div>
</section>