<section id="work" >
    <div class="container lg gap-1 flex-center text-center glass-card">
        <div class="container sm  flex-center text-center ">
            <h2 class="heading h1 mb-1">{{work.title }}</h2>
            {%- if work.subtitle -%}
            <p class="display-heading h3 subtitle">
                {{ work.subtitle }}
            </p>
            {%- endif-%}
            {%- if work.desc -%}
            <p>
                {{ work.desc }}
            </p>
            {%- endif-%}
        </div>
        <div class="container gap-4 mt-3 work-row">
            {%- if  collections.featuredWork.size > 1 -%}
            {%- assign items = collections.featuredWork -%}
            {%- else  -%}
            {%- assign items = collections.allWork -%}
            {%- endif -%}
            {%- for item in items -%}
            {%- include "archive/gallery-item.html" -%}
                {%- endfor -%}
        </div>
        <!-- <div class="mt-3">
            <a href="{{site.baseURL }}/work"
                class="btn btn-lg btn-secondary d-inline-block ">Browse All</a>
        </div> -->
    </div>
</section>