<footer class="footer">
	<div class="container lg py-1 flex-end">
        <p class="m-0">&copy; <span id="copyright-date"></span> <a href="{{site.baseURL}}">{{site.title}}</a></p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/motion@latest/dist/motion.js"></script>

    <script src="/assets/js/main.js"></script>

	{%- if type == "work"-%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script defer src="/assets/js/work.js" ></script>
    {%- else -%}
    <script defer src="/assets/js/pages.js"></script> 
    {%- endif -%}
</body>
</html>