<footer class=" meta-section d-flex justify-content-end text-right">
	<p class="m-0">&copy; <span id="copyright-date"></span> <a href="{{site.baseURL}}">{{site.title}}</a></p>
</footer>
    <script src="/assets/js/main.js"></script>
    {% if page.url == "/" %}
    <!-- <script defer src="/assets/js/contact.js"></script> -->
    {% endif %} 
	{% if type == "work" %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script defer src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script defer src="/assets/js/work.js" ></script>
    {% endif %}
</body>
</html>