<header id="main-header" class="p-fixed bg-white col-12">
    <div class="navbar py-2 container" role="navigation" aria-label="Main Menu">
        <div class="branding navbar-section">
            <!-- <button class="hamburger-menu mr-2 mt-1" aria-label="Toggle Main Menu">
					<div class="hamburger-inner" aria-label="hidden"></div>
				</button> -->
            <!--<a id="logo-link"
							   data-menuanchor="intro"
							   href="/#intro"
							   class="nav-link px-0">
								<img src="{{site.logo}}"
									 alt="logo"
									 class="navbar-brand rounded-circle p-0 m-0"
									 width="36">
							</a> -->
            <a id="logo-link" class="navbar-brand p-0 highlight-text" data-menuanchor="intro" href="{{site.baseURL}}#intro">
                <h1 class="accent-heading m-0"><span class="title">{{site.title }}</span> {%if site.subtitle%}☆<br class="d-sm-none"><span class="subtitle"> {{ site.subtitle}}</span>{% endif %}
                </h1>
            </a>
        </div>

        {% if navigation %}
        <nav id="main-menu" class="navbar-section" aria-label="Main Menu Items">
            {% for item in navigation %}
                {% if item.fullPage %}
                <a href="{{site.baseURL}}/{{ page.url }}" class="btn btn-link">{{ item.title | default: site.title}}</a> 
                {%else %}
                <a data-menuanchor="{{ .href }}" href="{{site.baseURL}}#{{ item.href }}" class="btn btn-link">{{ item.title }}</a> 
                {% endif %}
            {% endfor %}
        </nav>
        {% endif %}
    </div>

</header>