@use "sass:map";
// @use "dnvars" as *;
//========== hero ============//
.hero {
  background: var(--lavender);
  position:fixed;
  overflow: visible;
  z-index: 1;
  width:100vw;
  height: 100vh;
}

.hero .container:before {
  content: '';
  background: url("/assets/images/halftone-1 seafoam.png") center left/contain;
  width: 100%;
  height: 120%;
  z-index: -1;
  display: block;
  position: absolute;
  top: -10%;
  left: 0;
}

.hero:before {
  content: "";
  width: 60%;
  height: 100%;
  background: url("/assets/images/hero-left.svg") no-repeat top center/ contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.hero:after {
content:"";
  width: 40%;
  height: 100%;
  background: url("/assets/images/hero-right.svg") no-repeat bottom center/ contain;
  position: absolute;
  top: 3vw;
  right: 0;
  z-index: 0;
}
@media (min-width: 800px) {
  .hero:before {
    width: 45%;
  }
.hero:after {
  width: 33%;

}
}
@media (min-width: 1280px) {
  .hero:before {
    width: 33%;
  }
.hero:after {
  width: 25%;

}
}
.hero .card{
  z-index: 2;
  position: relative;
  flex: 0 0 auto;
  display: inline-block;
  max-width: 100%;
  padding: 1rem;
}
.hero .card .text-col {
  max-width: 540px;
}

@media (min-width:1024px){
  .hero .card{
    padding: 2rem;
  }
}
section h2 + .subtitle,
.h2.subtitle {
  font-weight: 400;
}
section:not(.hero) {
  position: relative;
  z-index: 1;
  padding: 1.5rem 0;
}
//========== about work ============//

#about-work {
  margin-top: 400px;
    padding-bottom: 5rem;
  }
@media (min-width:600px){
  #about-work {
    margin-top: 460px;
  }
}
@media (min-width:800px){
  #about-work {
    margin-top: calc(100vh - 8rem);
  }
}
#about-work::before {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 8vw 100vw;
  border-color: transparent transparent var(--cyan) transparent;
  position: absolute;
  top: -7.9vw;
  z-index: 1;
}
.stat a {
  color: var(--color-dark);
  line-height: 1;
  column-gap: .25rem;
  row-gap: .125rem;
  letter-spacing: -.025em;
  transition: $default-animation;
  font-size: 18px;
}

.stat .num {
  font-size: 40px;
  font-weight: 600;
  font-family: "Spline Sans Mono";
  letter-spacing: -.05em;
}
.stat .yr {
  font-weight: 600;
  font-family: "Spline Sans Mono";
  line-height: 1;
}

.stat .field {
  font-weight: 600;
  font-family: "Spline Sans Mono";
  line-height: 1.2;
  margin-top: 0.25rem;
  word-spacing: -.1rem;
  letter-spacing: -.02rem;
}
.stat a:hover {
  text-decoration: none;
  color: var(--color-background);
  text-shadow: 2.5px 2.5px 0 var(--color-primary);
}
//========== sabout peron ============//

#about-person:before {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 8vw 100vw;
  border-color: transparent transparent var(--magenta) transparent;
  top: -7.9vw;
  z-index: 1;
  display: block;
  position: absolute;
}

.about-images img {
  height: 200px;
  width: auto;
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  border: 2px solid black;
}
.about-images {
  gap: 1rem;
}
//========== work============//

#work:before {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 100vw 3vw 0 ;
  border-color: transparent var(--magenta) transparent transparent;
  top: 0;
  z-index: 1;
  display: block;
  position: absolute;
}
#work {
  margin-bottom: 100vh;
}
//==========  contact ============//

.form-input {
  border-width: .06rem;
  border-radius: 0;
}
.form-label {
  font-size: 14px;
  font-family: "Spline Sans Mono";
  padding: 0 0 .125rem 0;
}
textarea.form-input {
  min-height: 3.34rem;
}
#my-form-button[disabled] {
  background: none;
  border-color: transparent;
  color: var(--color-dark);
  opacity: .6;
}

//========== animations ============//
#contact-section,
#contact-title {
  opacity: 0;
  max-width: 0;
  max-height: 0;
  overflow: hidden;
}