---
layout: "archive.html"
type: "tag"
showPagination: false
slug: "tag"
pagination:
  data: collections.allTags 
  size: 1
  alias: t
eleventyComputed: 
  permalink: "/tag/{{t.title| slugify}}/"
  title: "{{t.title}}"
  desc: "{{t.desc}}"
  color: "{{t.color}}"
---

{%- assign items = collections.allWork | filterByTag: title -%}
{%- for item in items -%}
    {%- include "archive/gallery-item.html" -%}
{%- endfor -%}

<section class="meta-section content-section text-center d-flex flex-center col-12">
  <div class="container lg gap-1 flex-center text-center">
          <a href="/work" class="btn btn-secondary">All Works</a>
          <a href="/tags" class="btn btn-secondary">All Tags</a>
  </div>
</section>
