---
pagination:
  data: collections.allTags
  size: 1000
  alias: tag
slug: tags
permalink: "/tags/"
layout: "archive.html"
title: All Tags
desc: Explore my projects by tag name
type: tagList
showPagination: false
---
{% assign tagsByCount = collections.allTags | sort: "count" | reverse %}
{%- for tag in tagsByCount -%}
<a href="/tag/{{tag.title|slugify}}" class="label bg-{{tag.color}} solid">{{tag.title}} - {{tag.count}}</a>
{%- endfor -%}

