---
layout: base.html
---
<main>
{%- include "single-work/page-header.html" -%}
	<!-- for each section declared in the index.md, grab the associated resource file and add a section partial for it-->
    {%- if  sections.size > 0 -%}
    {%- for section in sections -%}
    {%- include "single-work/page-section.html" -%}
    {%- endfor -%}
    {%- endif -%}
    <section class="content-section text-center d-flex align-items-center justify-content-center">
        <div class=container>
            <div class="col-12 flex-center text-center">
                <a href="/#work" class="btn btn-primary">Back to Home</a>
            </div>
        </div>
    </section>
    {% include "image-modal.html" %}
</main>
