@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&family=Unbounded:wght@200..900&display=swap");
:root {
  --accent: #6faca4;
  --menu-height: 74px;
  --cyan: #51E0FF;
  --seafoam: #C2FFE5;
  --magenta: #F443AD;
  --lemon: #F6FFC2;
}

/*===============typogrpahy==============*/
h1, .h1, .display-heading {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

h2, .h2 {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

h3, .h3 {
  font-weight: 500;
  font-size: 0.875rem;
}

h4, .h4, h5, .h5, h6, .h6 {
  font-size: 0.75rem;
  font-weight: 600;
}

.display-heading-1 {
  font-size: 48px;
}

.display-heading-2 {
  font-size: 40px;
}

.display-heading-3 {
  font-size: 36px;
}

.accent-heading {
  font-family: "Spline Sans Mono";
  font-weight: 400;
  text-shadow: 0.075em 0.075em 0 var(--color-secondary);
  color: var(--color-primary);
}

/*===============layout=============*/
main {
  padding-top: var(--menu-height);
}

main,
.full-height {
  min-height: calc(100vh - var(--menu-height));
}

.offset-cols {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.gallery-item .card-image .img-responsive {
  aspect-ratio: 1.5;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.gallery-item .card-body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.gallery-item .flex-grow {
  flex-grow: 1;
}

.gallery-item .tag-list {
  display: flex;
  gap: 0.3rem;
  flex-flow: row wrap;
  margin-top: 0.5rem;
}

/*===============nav==============*/
header#main-header {
  border-bottom: solid 3px var(--color-dark);
  z-index: 10;
}

#logo-link h1 {
  font-size: 25px;
  line-height: 1;
}
#logo-link h1 span.subtitle {
  font-size: 22px;
  text-transform: uppercase;
}

.nav .btn-link {
  color: var(--font-color);
  font-weight: 500;
}

/*===============utilities==============*/
.bg-white {
  background: #fff;
}

.bg-cyan {
  background: var(--cyan);
}

.bg-magenta {
  background: var(--magenta);
}

.bg-lemon {
  background: var(--lemon);
}

.bg-seafoam {
  background: var(--seafoam);
}

.rainbow {
  background: linear-gradient(292deg, rgb(91, 11, 179) 0%, rgb(33, 132, 207) 22%, rgb(0, 181, 218) 33%, rgb(210, 233, 27) 60%, rgb(236, 226, 6) 64%, rgb(232, 206, 10) 68%, rgb(255, 0, 156) 96%);
  border-radius: 0.2rem;
}

.rainbow-text {
  background: linear-gradient(292deg, rgb(91, 11, 179) 0%, rgb(33, 132, 207) 22%, rgb(0, 181, 218) 33%, rgb(210, 233, 27) 60%, rgb(236, 226, 6) 64%, rgb(232, 206, 10) 68%, rgb(255, 0, 156) 96%);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rainbow-text-link:hover {
  background: linear-gradient(292deg, rgb(91, 11, 179) 0%, rgb(33, 132, 207) 22%, rgb(0, 181, 218) 33%, rgb(210, 233, 27) 60%, rgb(236, 226, 6) 64%, rgb(232, 206, 10) 68%, rgb(255, 0, 156) 96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rainbow-block-link:hover {
  background: linear-gradient(292deg, rgb(19, 206, 200) 0%, rgb(35, 113, 179) 36%, rgb(22, 73, 196) 54%, rgb(255, 0, 156) 96%);
}

.section-break {
  border-top: 4px dotted #EAE5FF;
}

.hero {
  background: url(/assets/images/hero-graphic.png) no-repeat center/cover;
}

.hero .card {
  max-width: 540px;
}

section h2 + .subtitle {
  font-weight: 400;
}

/*# sourceMappingURL=main.css.map */
