@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&family=Unbounded:wght@200..900&display=swap");
:root {
  --accent: #6faca4;
  --menu-height: 74px;
  --cyan: #51E0FF;
  --seafoam: #C2FFE5;
  --magenta: #F443AD;
  --lemon: #F6FFC2;
  --lavender: #EAE5FF;
  --violet: #7F61F8;
  --white: ${pure-white};
}

/*===============typogrpahy==============*/
h1, .h1, .display-heading {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

h2, .h2 {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

h3, .h3 {
  font-weight: 600;
  font-size: 0.875rem;
}

h4, .h4, h5, .h5, h6, .h6 {
  font-size: 0.75rem;
  font-weight: 700;
}

.display-heading-1 {
  font-size: 48px;
}

.display-heading-2 {
  font-size: 40px;
}

.display-heading-3 {
  font-size: 36px;
}

.accent-heading {
  font-family: "Spline Sans Mono";
  font-weight: 400;
  text-shadow: 0.075em 0.075em 0 var(--color-secondary);
  color: var(--color-primary);
}

/*===============layout=============*/
main {
  padding-top: var(--menu-height);
}

main,
.full-height {
  min-height: calc(100vh - var(--menu-height));
}

.offset-cols {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.gallery-item .card-image .img-responsive {
  aspect-ratio: 1.5;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.gallery-item .card-body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.gallery-item .flex-grow {
  flex-grow: 1;
}

.gallery-item .tag-list {
  display: flex;
  gap: 0.3rem;
  flex-flow: row wrap;
  margin-top: 0.5rem;
}

/*===============nav==============*/
header#main-header {
  border-bottom: solid 3px var(--color-dark);
  z-index: 10;
}

#logo-link h1 {
  font-size: 25px;
  line-height: 1;
}
#logo-link h1 span.subtitle {
  font-size: 22px;
  text-transform: uppercase;
}

nav .btn.btn-link {
  color: var(--font-color);
  font-weight: 500;
  position: relative;
}

nav .btn.btn-link:hover {
  box-shadow: none;
  color: var(--color-primary);
}

nav .btn.btn-link:after {
  border-bottom: dotted 4px var(--color-borders);
  position: absolute;
  content: "";
  height: 4px;
  width: 0;
  left: 50%;
  transition: all 0.2s cubic-bezier(0.5, 1, 0.89, 1);
  display: block;
  bottom: -2px;
}

nav .btn.btn-link:hover:after {
  width: calc(100% - 1em);
  left: 0.5em;
}

/*=============== elements  ==============*/
.btn {
  font-weight: 500;
  font-family: "Spline Sans Mono";
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.btn.btn-secondary {
  border-radius: 2px;
  box-shadow: 2px 2px 0px 2px var(--color-primary);
  color: var(--color-primary);
  border: none;
}

.btn.btn-secondary:hover {
  box-shadow: inset 3px 3px 0px 1px rgba(0, 0, 0, 0.2), 2px 2px 0px 2px var(--color-secondary);
  transform: translate(2px, 2px);
}

.label {
  border-radius: 26px;
  padding: 0.1rem 0.4rem;
  transition: all 0.2s ease-in-out;
}

a.label:hover {
  text-decoration: none;
  box-shadow: inset 0 0 100px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/*===============utilities==============*/
.bg-white {
  background: #fff;
}

.bg-cyan {
  background: var(--cyan);
}

.bg-magenta {
  background: var(--magenta);
}

.bg-lemon {
  background: var(--lemon);
}

.bg-seafoam {
  background: var(--seafoam);
}

.rainbow {
  background: linear-gradient(292deg, rgb(91, 11, 179) 0%, rgb(33, 132, 207) 22%, rgb(0, 181, 218) 33%, rgb(210, 233, 27) 60%, rgb(236, 226, 6) 64%, rgb(232, 206, 10) 68%, rgb(255, 0, 156) 96%);
  border-radius: 0.2rem;
}

.rainbow-text {
  background: linear-gradient(292deg, rgb(91, 11, 179) 0%, rgb(33, 132, 207) 22%, rgb(0, 181, 218) 33%, rgb(210, 233, 27) 60%, rgb(236, 226, 6) 64%, rgb(232, 206, 10) 68%, rgb(255, 0, 156) 96%);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rainbow-text-link:hover {
  background: linear-gradient(292deg, rgb(91, 11, 179) 0%, rgb(33, 132, 207) 22%, rgb(0, 181, 218) 33%, rgb(210, 233, 27) 60%, rgb(236, 226, 6) 64%, rgb(232, 206, 10) 68%, rgb(255, 0, 156) 96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rainbow-block-link:hover {
  background: linear-gradient(292deg, rgb(19, 206, 200) 0%, rgb(35, 113, 179) 36%, rgb(22, 73, 196) 54%, rgb(255, 0, 156) 96%);
}

.section-break {
  border-top: 4px dotted #EAE5FF;
}

.columns.col-gap {
  gap: 1rem;
}

.columns.col-gap .column {
  padding: 0;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.align-end {
  align-items: flex-end;
}

.justify-end {
  justify-content: flex-end;
}

.align-start {
  align-items: flex-start;
}

.justify-start {
  justify-content: flex-start;
}

.hero {
  background: var(--lavender);
  position: fixed;
  overflow: visible;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

.hero .container:before {
  content: "";
  background: url("/assets/images/halftone-1 seafoam.png") center left/contain;
  width: 100%;
  height: 120%;
  z-index: -1;
  display: block;
  position: absolute;
  top: -10%;
  left: 0;
}

.hero:before {
  content: "";
  width: 60%;
  height: 100%;
  background: url("/assets/images/hero-left.svg") no-repeat top center/contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.hero:after {
  content: "";
  width: 40%;
  height: 100%;
  background: url("/assets/images/hero-right.svg") no-repeat bottom center/contain;
  position: absolute;
  top: 3vw;
  right: 0;
  z-index: 0;
}

@media (min-width: 800px) {
  .hero:before {
    width: 45%;
  }
  .hero:after {
    width: 33%;
  }
}
@media (min-width: 1280px) {
  .hero:before {
    width: 33%;
  }
  .hero:after {
    width: 25%;
  }
}
.hero .card {
  z-index: 2;
  position: relative;
  flex: 0 0 auto;
  display: inline-block;
  max-width: 100%;
  padding: 1rem;
}

.hero .card .text-col {
  max-width: 540px;
}

@media (min-width: 1024px) {
  .hero .card {
    padding: 2rem;
  }
}
section h2 + .subtitle,
.h2.subtitle {
  font-weight: 400;
}

section:not(.hero) {
  position: relative;
  z-index: 1;
  padding: 1.5rem 0;
}

#about-work {
  margin-top: 400px;
  padding-bottom: 5rem;
}

@media (min-width: 600px) {
  #about-work {
    margin-top: 460px;
  }
}
@media (min-width: 800px) {
  #about-work {
    margin-top: calc(100vh - 8rem);
  }
}
#about-work::before {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 8vw 100vw;
  border-color: transparent transparent var(--cyan) transparent;
  position: absolute;
  top: -7.9vw;
  z-index: 1;
}

.stat a {
  color: var(--color-dark);
  line-height: 1;
  column-gap: 0.25rem;
  row-gap: 0.125rem;
  letter-spacing: -0.025em;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  font-size: 18px;
}

.stat .num {
  font-size: 40px;
  font-weight: 600;
  font-family: "Spline Sans Mono";
  letter-spacing: -0.05em;
}

.stat .yr {
  font-weight: 600;
  font-family: "Spline Sans Mono";
  line-height: 1;
}

.stat .field {
  font-weight: 600;
  font-family: "Spline Sans Mono";
  line-height: 1.2;
  margin-top: 0.25rem;
  word-spacing: -0.1rem;
  letter-spacing: -0.02rem;
}

.stat a:hover {
  text-decoration: none;
  color: var(--color-background);
  text-shadow: 2.5px 2.5px 0 var(--color-primary);
}

#about-person:before {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 8vw 100vw;
  border-color: transparent transparent var(--magenta) transparent;
  top: -7.9vw;
  z-index: 1;
  display: block;
  position: absolute;
}

.about-images img {
  height: 200px;
  width: auto;
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  border: 2px solid black;
}

.about-images {
  gap: 1rem;
}

#work:before {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 100vw 3vw 0;
  border-color: transparent var(--magenta) transparent transparent;
  top: 0;
  z-index: 1;
  display: block;
  position: absolute;
}

#work {
  margin-bottom: 100vh;
}

.form-input {
  border-width: 0.06rem;
  border-radius: 0;
}

.form-label {
  font-size: 14px;
  font-family: "Spline Sans Mono";
  padding: 0 0 0.125rem 0;
}

textarea.form-input {
  min-height: 3.34rem;
}

#my-form-button[disabled] {
  background: none;
  border-color: transparent;
  color: var(--color-dark);
  opacity: 0.6;
}

#contact-section,
#contact-title {
  opacity: 0;
  max-width: 0;
  max-height: 0;
  overflow: hidden;
}

/*# sourceMappingURL=main.css.map */
