<!-- this section copied from UI-Lite theme-->
<div class="meta-section">
    <section id="experience" class=container>
        <h1 class="col-12">{{ experience.title }}</h1>
        <p>Insert some overview about my work experience</p>
        <div id="timeline" class="col-12">
            {%- if experience.experience -%}
            {%- for exp in experience.experience -%}
            {%- assign index = forloop.index | minus: 1 |  modulo: 7 -%}
            <div class="timeline-item d-flex d-column position-relative">
                <i class="timeline-icon fa fa-certificate fa-2x text-{{site.colors[index]}}"
                   aria-label="hidden"></i>
                <!-- <div class="test-content bg-blue">
                    <p>hello test</p>
                </div> -->
                <div class="timeline-content">
                    <p class="info date h5 mb-1 d-inline-block">
                        {{ exp.timeperiod }} | <span class="info">{{ exp.company }}</span></p>
                    <h3 class="d-block">{{ exp.title }}</h3>
                    <p class="description">{{ exp.description }}</p>
                </div>
            </div>
            {%- endfor -%}
            {%- endif -%}
        </div>
    </section>
</div>
