 <div class="gallery-col col-6-sm col-4 col-3-lg d-flex p-1">
        <div class="card col-12 gallery-item">
            <a class="card-image " href="{{ item.data.page.url}}" >
                <img src="{{ item.data.page.url}}{{ item.data.image.name }}" class="img-responsive "
                      alt="Cover photo for the '{{ item.data.title}}' project" />
            </a>
            <div class="card-body">
                <small  class="d-block col-auto text-muted text-right">{{ item.date | ISODate | date: "%b %Y"}}</small>
            <a href="{{ item.data.page.url}}" class="flex-grow">
                <h3 class="h4 text-dark">{{ item.data.title}}</h3>
            </a>
            <div class=" tag-list col-auto text-tiny">
                {%- for t in item.data.tags -%}
                <a href="/tag/{{t | slugify}}" class="label bg-{{ collections.allTags | getTagColor: t}}">{{t}}</a>
                {%- endfor -%}
            </div>
            </div>
        </div>
    </div>
