<main>
{% include  "single-work/page-header.html" %}


    <!-- for each section declared in the index.md, grab the associated resource file and add a section partial for it-->
<!-- TODO figure out how to sort out nav before sorting the rest   -->
    {% page.Resources.ByType "page"%}
        {%range sort  . ".Name"%}
            {%if eq .Name "00-nav.html"%}
                {% include  "single-work/page-nav.html"  %}
                
             {%else %}
             {% include "single-work/page-section.html" (dict "page" $page "section" .  "sectionName" .Params.name ) %}
            {%end%}
        {%end%}
    {%end%}


    {% include "image-modal.html" %}
</main>
