---
layout: base.html 
stats:
  - id: pm
    num: 2
    field: Product Management
    desc: "I’m always learning new things, and my natural love of organization, planning and scheming for the future naturally led me to Product Management. I’m endlessly curious about problems and how to best solve them."
  - id: web
    num: 10+
    field: Web Development
    desc: "My first website was on geocities! Web Design was just another creative outlet for me until I started my professional career in 2016. While I’ve learned frameworks like Angular, React and Vue, I am happiest in in plain HTML, CSS and JS."
  - id: design
    num: 8+
    field: Product & UX Design
    desc: "I’ve been a designer my whole life. As a teen I designed books, zines, comics and more. I got a degree in Illustration in 2011 and learned how to craft solutions for clients. I’ve shifted to crafting experiences and interfaces in 2016, but the process stays the same."

---
<main class="home accent-bg ">
<section class="hero">
  <div class="container flex-center lg gap-2">
  {%- include "experience/work-history.html" -%}
  </div>
</section>


</main>
<script>

</script>

