---
layout: base.html 
hero:
  description: I like to bring order to chaos without stifling creativity, and designing delightful and accessible experiences.
work:
  title: My Work
  subtitle:
  desc: "Below are of my favorite projects I’ve worked on. Click through to see details on each."
---
<main class="home accent-bg ">
<section class="hero">
  <div class="container flex-center lg gap-2">
  <figure  class="col-12 sm-4 img-wrap ">
        <img src="assets/images/denise-sm.webp" alt="photo of Denise Nadal" class="img-responsive s-circle bio-photo">
    </figure>
    <div class="col-12 sm-8 text-col">
    {%- assign heroSection = true -%}
        {%- include  "bio.html" -%}
      {%- assign heroSection = false -%}
    </div>
  </div>
</section>

{%- if  collections.allWork.size > 1 -%}
  {%- include  "home/work-gallery.html"  -%}
{%- endif -%}
{%- if  collections.allPosts.size > 1 -%}
  {%- include  "blog-gallery.html"  -%}
{%- endif -%}
{%- include  "home/contact.html" -%}
</main>
<script>

</script>

