<a href="{{section.page.fileSlug}}/{{image.src}}" class="image-modal-link mb-3">
    <figure class="figure"
            data-title="{{image.title}}">
        <img src="{{section.page.fileSlug}}/{{image.src}}"
             alt="{{image.caption | default: image.title}}"
             class="figure-img img-responsive">
        {%- if image.caption -%}
        {%- if image.caption == true -%}
        {%- assign caption = image.title -%}
        {%-else-%}
        {%- assign caption = image.caption -%}
        {%- endif -%}
        <figcaption class="figure-caption">{{caption}}</figcaption>
        {%- endif -%}
    </figure>
</a>