<section id="work-header" class="meta-section">
    <div class="container lg gap-2"> 
        <div id="work-header-left" class="col col-12 md-7 mt-3">
            {%- if image -%}
            <img src="{{image.name}}" alt="{{image.alt}}" class="img-responsive" fetchpriority="high">
            {%- endif -%}
        </div>
        <div id="work-header-right" class="col col-12 md-5 d-flex flex-column justify-end">
            <h2 id="work-title" class="h2 m-0">{{title}}</h2>
            <div class="info-row container text-muted mt-2 mb-1">
                <p class="h5 m-0 col">{{subtitle}}</p>
                <p class="h5 m-0 col-auto"> {{date_range}}</p>
            </div>
            <div class="intro-content">
                {{content}}
            </div>
        </div>
        <div class="work-header-bottom container col-12 gap-1">
            {%- if team  or org or role -%}
            <dl>
                {%- if role -%}
                <dt class="text-muted">Role</dt>
                <dd class="mt-0">{{role}}</dd>
                {%- endif -%}
                {%- if team or org -%}
                <dt class="text-muted">Team {% if org %} ◊  {{org}}{% endif %} </dt>
                <dd class="mt-0">{{team}}</dd>
                {%- endif -%}
                
            </dl>
            {%- endif -%}
        </div>
    </div>
</section>
