<section id="work-header"
         class="meta-section">
    <div class="row container lg">
        <div id="work-header-left"
             class="col-md-7 mt-3">
            {%- if image -%}
            <img src="{{image.name}}"
                 alt="{{image.alt}}"
                 class="shadow-sm border">
            {%- endif -%}
        </div>
        <div id="work-header-right"
             class="col-md-5 d-flex flex-column flex-end justify-content-end">
            <h2 id="work-title"
                class="h2 m-0">{{title}}</h2>
            <p class="h4 mt-0">{{subtitle}}</p>
            <p class="h6 mb-2 mt-3 text-gray"> {{date_range}}</p>
            <p class="m-0 text-muted">
                {{content}}
            </p>
            {%- if team  or org or role -%}
            <hr>
            <dl>
                {%- if role -%}
                <dt>Role</dt>
                <dd class="mb-4">{{role}}</dd>
                {%- endif -%}
                {%- if team -%}
                <dt>Team</dt>
                <dd class="mb-4">{{team}}</dd>
                {%- endif -%}
                {%- if org -%}
                <dt>Org</dt>
                <dd class="mb-4">{{org}}</dd>
                {%- endif -%}
            </dl>
            {%- endif -%}
        </div>
    </div>
</section>